@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #1c1e29;
    color: #fff;
}

.homePageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 100vh;
}

.formWrapper {
    background: #282a36;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
}

footer {
    position: fixed;
    bottom: 0;
}

footer a {
    color: #4aed88;
    text-decoration: none;
    border-bottom: 1px solid #4aed88;
}

footer a:hover {
    color: #36b366;
    border-color: #36b366;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.mainLabel {
    margin-bottom: 20px;
    margin-top: 0;
}

/* For Home, Login, and Register pages */
.logoText {
    font-size: 2.5rem; 
    font-weight: 800;
    color: #4aed88;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 1px;
}

.editorLogoText {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4aed88;
    margin: 0;
    text-align: left;
}

.inputBox {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 14px;
    background: #eee;
    font-size: 16px;
    font-weight: bold;
}

.btn {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
    background: #4aed88;
    width: 100px;
    margin-left: auto;
}

.joinBtn:hover,
.leaveBtn:hover {
    background: #2b824c;
}

.createInfo {
    margin: 0 auto;
    margin-top: 20px;
}

.createNewBtn {
    color: #4aed88;
    text-decoration: none;
    border-bottom: 1px solid #4aed88;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.createNewBtn:hover {
    color: #36b366;
    border-color: #36b366;
}

.mainWrap {
    display: grid;
    grid-template-columns: 230px 1fr;
    height: 100vh;
}

.aside {
    background: #1c1e29;
    padding: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.asideInner {
    flex: 1;
}

.clientsList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.client {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.userName {
    margin-top: 10px;
}

.logo {
    padding-bottom: 20px;
}

.logoImage {
    height: 60px;
}

.leaveBtn {
    background: #4aed88;
    width: 100%;
    margin-top: 20px;
}

.CodeMirror {
    min-height: 100vh;
    font-size: 20px;
    line-height: 1.6;
}